html{
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

.id-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7rem 0 7rem;
    gap: 7rem;
    background-color: #d3c6f4;
    height: 100vh;
}

.id-card-img {
    max-height: 80vh;
    border-radius: 5rem;
}

h1{
    text-align: center;
    font-family: 'Homemade Apple', sans-serif;
    color: #8E00FD;
    font-size: 5em;
    margin: 0;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    padding: 2rem 0 3rem 0;
    margin: 0;
}

.id-card-a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

@media (max-width: 1024px){
    .id-card{
        padding: 0 5rem 0 5rem;
        gap: 5;
    }
    h1{
        font-size: 4em;
        padding-top: 3rem;
    }
    p{
        font-size: 2.5em;
    }
}

@media (max-width: 890px){
    .id-card{
        gap: 3rem;
    }
    .id-card-img {
        max-height: 60vh;
    }
    h1{
        font-size: 3em;
    }
    p{
        font-size: 2em;
    }
}

@media (max-width: 680px) {
    .id-card {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .id-card-description {
        order: -1;
        margin: 1.5rem;
    }
    .id-card-a{
        gap: 5rem;
        margin-top: 1rem;
    }
    .id-card-img {
        max-height: 40vh;
    }
    h1, p{
        padding: 0;
    }
}
